div#words_div div, div#words_div span, 
div#words_div a, div#words_div img, div#words_div b, 
div#words_div u, div#words_div i, div#words_div ol, div#words_div ul, div#words_div li,
div#words_div form, div#words_div table, div#words_div tbody, div#words_div tfoot, div#words_div thead, div#words_div tr, div#words_div th, div#words_div td,
div#words_div footer, div#words_div header, div#words_div section
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: center;
}

div#words_div a:link {color:blue; text-decoration:underline;}      /* unvisited link */
div#words_div a:visited {color:purple; text-decoration:underline; }  /* visited link */
div#words_div a:hover {color:blue; text-decoration:underline;}  /* mouse over link */
div#words_div a:active {color:red; text-decoration:underline;}  /* selected link */

div#words_div {
    background-color:white; 
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: arial, helvetica;
    font-size: 11px;
    line-height:17px;
    color:black;
}

div#words_div span {
    text-align: center;
    padding: 0;
    margin: 0;
}

div#words_div div {
    text-align: center;
    padding: 0;
    margin: 0;
}

div#words_div form {
    padding: 0;
    margin: 0;
}

div#words_div table {
    padding: 0;
    margin: 0;
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    border-image-width: 0;
    border: 0;
}

div#words_div td {
    padding: 0;
    margin: 0;
    text-align: center;
    border: 0;
   /* border: 1px solid black*/
}

div#words_div input {
    padding: 0;
    margin: 0;
}

div#words_div .white-links a:link {color:white;}      /* unvisited link */
div#words_div .white-links a:visited {color:white;}  /* visited link */
div#words_div .white-links a:hover {color:white;}  /* mouse over link */
div#words_div .white-links a:active {color:white;}  /* selected link */

div#words_div .composition-textarea
{
	width:98%;
  	margin-bottom:2px;
  	border: 1px solid #7c7c7c;
    border-radius: 4px;
    padding: 2px;
    font-size:13px;
    font-family:helvetica, arial;
} 

div#words_div .char-count-and-submit-button-div {
	width:100px;
	height:16px;
	margin-left:auto;
	margin-right:0px;
	vertical-align:middle;
	display:none;
	margin-bottom:5px;
}

div#words_div .comment-submit-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:22px;
	line-height:22px;
	width:56px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
}
div#words_div .comment-submit-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}
div#words_div .comment-submit-button:active {
	position:relative;
	top:1px;
}

div#words_div div.complete-horiz-line-div {
	height:1px;
	border-top: 1px solid #ddd;
}

/*

div#words_div td.comment-screenname-td {
    padding-left: 6px;
    padding-top: 2px;
    vertical-align:top;
    text-align:left;
    width:95%
}

div#words_div a.comment-screenname-link {
    font-size:11px;
}

div#words_div td.comment-likes-count-td {
	font-weight:bold;
	color: green;
	text-align:right;
	padding-right:3px;
}

div#words_div td.comment-dislikes-count-td {
	font-weight:bold;
	color: red;
	text-align:left;
	padding-left:3px;
}

div#words_div td.comment-like-image-td {
	text-align:right;
	width:19px;
}

div#words_div td.comment-dislike-image-td {
	text-align:left;
	width:19px;
}

div#words_div td.comment-delete-td {
	width:10px;
	padding-left:3px;
}

div#words_div td.comment-text-td {
    text-align:left;
    padding: 4px;
    padding-left:6px;
}

div#words_div td.comment-reply-link-td {
    padding: 6px;
    text-align:left;
}

div#words_div td.comment-hidden-td {
	padding-top:8px;
	padding-left:5px;
	padding-bottom:8px;
	text-align:left;
	vertical-align:middle;
}

div#words_div .message-div {
	padding:5px;
	font-size:12px;
}

div#words_div .no-comments-div {
 	padding:25px;
 	font-size:12px;
 	background-color:white;
}

div#words_div .non-website-no-comments-div {
 	padding-top:25px;
 	padding-bottom:25px;
 	background-color:white;
}

div#words_div table.user-rating-table {
	width:48px;
	height:5px;
	border: 1px solid #7c7c7c;
    border-radius: 2px;
}

div#words_div .rotate {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 50% 50%;
}

div#words_div .rotated-who-wrote {
	width:34px;
	text-align:right;
	-webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 50% 50%;
}

div#words_div .notification-comment-td {
	padding:3px;
}

div#words_div .notification-header-td {
	text-align:left;
	width:95%
}

div#words_div img.rounded {
    border-radius: 4px;
}

*:focus {
    outline: none;
}*/